In [10]:
import pandas as pd

In [13]:
#Convert the file to csv, read the file, add new colomn name
jobs = pd.read_excel(r'NZ_Admin_JOBS.xlsx',header=None)
print(jobs.head())

                                      0  \
0                                   字段1
1                         Administrator
2                          Receptionist
3          Prosecutions Support Officer
4  Early Childhood Centre Administrator

                                                   1  \
0                                           字段1_link
1  https://www.seek.co.nz/job/50582301?type=promo...
2  https://www.seek.co.nz/job/50620889?type=promo...
3  https://www.seek.co.nz/job/50622169?type=stand...
4  https://www.seek.co.nz/job/50639620?type=stand...

                                          2  \
0                                       字段2
1                                       NaN
2                      Avenues Orthodontics
3                        New Zealand Police
4  Kew Pacific Island Early Learning Centre

                                                   3  \
0                                                字段3
1  location: Bay of PlentyBay of Plentyarea: Taur...
2  location: Bay of PlentyBay of Plentyarea: Taur...
3                         location: AucklandAuckland
4  location: SouthlandSouthlandarea: Invercargill...

                                4  \
0                             字段4
1  Featured,at,Private Advertiser
2                     Featured,at
3                       4d ago,at
4                       1h ago,at

                                                   5
0                                                字段5
1  classification: Administration & Office Suppor...
2  classification: Administration & Office Suppor...
3  classification: Administration & Office Suppor...
4  classification: Administration & Office Suppor...

In [ ]:
print(jobs.shape)

In [4]:
print(jobs.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2709 entries, 0 to 2708
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2709 non-null   object
 1   1       2709 non-null   object
 2   2       2687 non-null   object
 3   3       2709 non-null   object
 4   4       2709 non-null   object
 5   5       2709 non-null   object
dtypes: object(6)
memory usage: 127.1+ KB
None

In [5]:
print(jobs.describe())

                          0         1  \
count                  2709      2709
unique                  549      2709
top     Executive Assistant  字段1_link
freq                    301         1

                                                        2  \
count                                                2687
unique                                                476
top     Beyond Recruitment - Winner – Best Innovation ...
freq                                                  285

                                                        3           4  \
count                                                2709        2709
unique                                                148          55
top     location: AucklandAucklandarea: Auckland Centr...  27d ago,at
freq                                                  654         572

                                                        5
count                                                2709
unique                                                 94
top     classification: Administration & Office Suppor...
freq                                                  715

In [6]:
missing_values= jobs.isnull().sum()
print(missing_values)

0     0
1     0
2    22
3     0
4     0
5     0
dtype: int64

In [7]:
jobs[2] = jobs[2].fillna(value='unknown')
print(jobs[2])

0                                            字段2
1                                        unknown
2                           Avenues Orthodontics
3                             New Zealand Police
4       Kew Pacific Island Early Learning Centre
                          ...
2704                       Hays Talent Solutions
2705                      one eighty recruitment
2706                       Asset Recruitment Ltd
2707                       Asset Recruitment Ltd
2708                      Alpha Recruitment - NZ
Name: 2, Length: 2709, dtype: object

In [8]:
jobs[1] = jobs[0].str.title()
print(jobs[0])

0                                        字段1
1                              Administrator
2                               Receptionist
3               Prosecutions Support Officer
4       Early Childhood Centre Administrator
                        ...
2704                     Key Account Manager
2705                     Executive Assistant
2706                  Temporary Office Roles
2707                  Temporary Office Roles
2708                     Executive Assistant
Name: 0, Length: 2709, dtype: object

In [9]:
#Extract the Salary information in Location column